/* TODO: Make it awesome */

body {
    width: 100vw;
    
}

body > header {
    height: 100px;
    width: 100%;
    background-color: grey;

}

section {
    margin: auto;
    background-color: lightgray;
    border: thin solid black;
}

footer {
    background-color: grey;
    position: absolute;
    bottom: 0px;
}

#itemCount {
  float: right;
  font-size: 30px;
  padding-right: 30px;
}

#cartContents {
  background: #969696;
}

#cartContents img {
  height: 200px;
  width: 200px;
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
}

#cartContents span {
  display: inline-block;
  font-size: 200px;
  padding: 20px;
  vertical-align: middle;
}

.roundEffect {
  transition-duration: 2s;
  transition-delay: 1s;
  background: black;
  color: white;
  border-radius: 25%;
}