/* TODO: Make it awesome */

body {
    width: 99vw;
    
}

body > header {
    height: 100px;
    width: 100%;
    background-color: grey;

}

section {
    margin: auto;
    background-color: lightgray;
    border: thin solid black;
}

footer {
    background-color: grey;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#itemCount {
  float: right;
  font-size: 30px;
  padding-right: 30px;
}

#cartContents {
  background: #969696;
}

#cartContents img {
  height: 200px;
  width: 200px;
  display: inline-block;
  padding: 20px;
  vertical-align: middle;
}

#cartContents span {
  display: inline-block;
  font-size: 200px;
  padding: 20px;
  vertical-align: middle;
}

@keyframes animate1 {
 from {
    background-color: black;
    color: white;
    border-radius: 5%;
  } to {
    background-color: white;
    color: black;
    border-radius: 70%;
  }
}

#cartContents span {
  animation-duration: 1s;
  animation-name: animate1;
}

/* .roundEffect {
  transition-duration: 2s;
  transition-delay: 1s;
  background: black;
  color: white;
  border-radius: 25%;
} */

td img {
    height: 100px;
    width: 100px;
}

#customerForm {
  background: #414141;
  color: white;
  position: sticky;
  bottom: 0px;
  height: 100px;
}

#customerForm input[type=text] {
  width: 80px;
  padding: 5px;
}

#customerForm input:focus {
  transition-duration: .5s;
  background: #292929;
  color: #c4c4c4;
}

animated {
  font-size: 100px;
  margin: auto;
  text-align: center;
  margin-left: 300px;
  animation-duration: 1s;
  animation-name: animate1;
  color: purple;
}